/* General Formatting */

html {
    background: linear-gradient(#0b0c10,#45a39e);
    background-attachment: fixed;
    font-family: 'nunito sans', sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

a {
    font-family: 'nunito sans', sans-serif;
}

h1 {
    color:rgb(102, 240, 242);
    font-size: 3em;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
}

p {
    font-size: 2em;
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.container {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.subject-header {
    color:rgb(102, 240, 242);
    font-size: 60px;
    margin-top: 8%;
    width: 25rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: .75rem;
    background: #1f2833;
    box-shadow: 0px 2px 4px 2px rgba(102,240,242,0.75),
               0px 4px 8px 2px rgba(102,240,242,0.55), 
               0px 6px 12px 2px rgba(102,240,242,0.45);
}

.center-div {
    border-width: 5px;
    border-style: solid;
    background-color: #1f2833;
    border-radius: 2rem;
    margin-top: 6%;
    flex-grow: 1;
    margin-right: 15%;
    margin-left: 15%;
    color: #56CAC8;
    box-shadow: 0px 0px 20px 2px rgba(102,240,242,0.75);
}

.mobile {
    display: none;
}

/* General Formatting End */

/*Header and Navbar */

nav {
    display: flex;
    z-index: 5;
    top: 3%;
    width: 35rem;
    padding-top: .75em;
    padding-bottom: .75em;
    border-radius: .75em;
    position: fixed;
    left: 50%;
    transform: translateX(-50%) translateY(0px) translateZ(0px);
    background: #1f2833;
    box-shadow: 0px 2px 4px 2px rgba(102,240,242,0.75),
               0px 4px 8px 2px rgba(102,240,242,0.55), 
               0px 6px 12px 2px rgba(102,240,242,0.45);
}


.nav-links {
    display: flex;
    list-style-type: none;
    border-width: 2px;
    border-color: black;
    padding: .5em;
    margin: auto;
    justify-content: center;
    gap: 1em;
}

.btn {
    background-color: none;
    color: rgb(102, 240, 242);
    border-radius: 6px;
    padding: .70rem 1.35rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    margin: .1rem .35rem;
    transition-duration: 0.4s;
    cursor: pointer;
    display: inline-block;
    box-shadow: 0px 0px 0px 2px rgba(102,240,242,0.5);
}

.btn:hover {
    box-shadow: inset 0px 2px 4px rgba(102,240,242,0.5), 
                inset 0px 4px 8px rgba(102,240,242,0.5), 
               inset 0px 6px 12px rgba(102,240,242,0.5), 
               inset 0px 8px 16px rgba(102,240,242,0.5);
    transition: 0.2s;
    transform: translateY(2px);
}

.hamburger {
    display: none;
    cursor: pointer;
    width: 34px;
}

.hamburger .bar {
    flex-basis: 100%;
    height: 4px;
    margin: 3px;
}



/* Header and Navbar End */



/* Images */

.linkedin-img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 3% / 2%;
}

.mkp {
    display: none;
}

.pokeopoly {
    display: none;
}

.player-img {
    height: 200px;
    width: 200px;
}

/* Images End */



/* About Section */

.about-leftdiv {
    border-width: 5px;
    border-style: solid;
    background-color: #1f2833;
    border-radius: 2em;
    margin-top: 9%;
    width: 60%;
    color: #56CAC8;
    box-shadow: 0px 0px 20px 2px rgba(102,240,242,0.75);
}


.about-rightdiv {
    border-width: 5px;
    border-color: #66f0f2;
    border-style: solid;
    border-radius: 3% / 2%;
    background-color: #1f2833;
    margin-top: 9%;
    margin-left: 1%;
    margin-right: 1%;
    width: 25rem;
    height: 37.5rem;
    box-shadow: 0px 0px 20px 2px rgba(102,240,242,0.75);
}

/* About Section End */



/* Contact Section */

.contact-div {
    border-width: 5px;
    border-style: solid;
    background-color: #1f2833;
    border-radius: 2em;
    margin-top: 6%;
    flex-grow: 1;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 20%;
    color: #56CAC8;
    box-shadow: 0px 0px 20px 2px rgba(102,240,242,0.75);
}

/* Contact Section End */

/* Mobile version */

@media only screen and (max-width: 600px) {
    
    .mobile {
        display: flex;
        text-align: center;
        position: relative;
        justify-content: space-evenly;
    }
    
    video {
        display: none;
    }

    .mkp {
        display: flex;
        width: 14em;
        height: 7em;
        margin: auto;
    }

    .pokeopoly {
        display: flex;
        width: 10em;
        height: 3em;
        margin: auto;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1.25em;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    .subject-header {
        width: 80%;
        margin-top: 26%;
        margin-bottom: 5%;
    }

    nav {
        top: 1%;
        width: 98%;
    }

    .nav-links {
        gap: .75em;
    }

    .btn{
        padding: .5rem .73rem;
        font-size: 1rem;
    }

    .about-rightdiv {
        display: none;
    }

    .about-leftdiv {
        margin-top: 30%;
        width: 90%;
        padding-bottom: 4%;
    }

    .center-div {
        margin: 3% 2%;
        padding-bottom: 4%;
    }

    .contact-div {
        margin-left: 2%;
        margin-right: 2%;
        padding-bottom: 4%;
    }

}

@media only screen and (max-width: 400px) {

    .nav-links {
        gap: .4em;
    }

    .subject-header {
        margin-top: 28%;
    }

}

/* 
<-- Color Pallet -->
Black-like color
#0b0c10

Dark Grey
#1f2833

Smokey Grey
#c5c6c7

White
#ffffff

Light Blue
#66f0f2

Light Blue Text
#56CAC8

Darker Blue
#45a39e
*/