<!-- Home -->
<div class="container" id="home">
    <div class="about-leftdiv">
        <h1>Hey! My name is Bryce Foster~</h1>
        <p>I'm a frontend web developer, gamer and musician, looking to learn all that I can.</p>
        <p>I hope to one day create games and music~</p>
    </div>
    <div class="about-rightdiv">
        <img class="linkedin-img" src="/assets/linkedinnobackground400600.png">
    </div>
</div>

<!-- Projects Section -->
<div class="container" id="projects">
    <div class="subject-header">Projects</div>
</div>
<div class="container">
    <div class="project-centerdiv">
        <h1>Flask Website</h1>
        <p>I created a prototype e-commerce website using Python's Flask library which interacts with a MySQL database on my local machine for a school project.</p>
        <p>Users are able to login and make an account and when logged in they can add cards and stickers to their cart.</p>
        <p>
            <video height="400" width="600" controls>
                <source src="assets\Bryce Foster Flask Project Walkthrough.mp4" type="video/mp4"/>
            </video>
        </p>
    </div>
</div>

<div class="container">
    <div class="project-centerdiv">
        <h1>Poke-opoly</h1>
        <p>I helped make a Pokemon-themed version of monopoly created in Unity.</p>
        <p>You can play with 1-4 players, and the last one to go bankrupt wins!</p>
        <p>
            <video height="400" width="600" controls>
                <source src="assets\poke-opoly.mp4" type="video/mp4"/>
            </video>
        </p>
    </div>
</div>

<div class="container">
    <div class="project-centerdiv">
        <h1>Rust Game Engine</h1>
        <p>I helped make a basic game engine in Rust using CMake, and we made a simple 2D platformer game using the engine.</p>
        <p>
            <video height="400" width="600" controls>
                <source src="assets\Rust Game Engine Demo.mp4" type="video/mp4"/>
            </video>
        </p>
    </div>
</div>

<!-- Goals Section -->
<div class="container" id="goals">
    <div class="subject-header">Goals</div>
</div>
<div class="container">
    <div class="goal-div">
        <h1>Making A Game</h1>
        <p>I'm currently working on a 2D Spore-like game, where you can change your character looks and powers by attaching different body parts that you find.</p>
        <p><img class="player-img" src="/assets/player_idle_1.png"></p>
    </div>
</div>

<!-- Contact Section -->
<div class="container" id="contact">
    <div class="subject-header">Contact</div>
</div>
<div class="container">
    <div class="contact-div">
        <h1>Contact Me</h1>
        <p>The best way to contact me would be by email at</p>
        <p>fosterbryce777&#64;yahoo.com</p>
    </div>
</div>